In [13]:
import pandas as pd

data = {
    "Name" : ["Pawan","lalit","Kapil","Ravi","Suresh"],
    "Age" : [23,55,None,45,None],
    "Salary" : [1000,2000,None,4000,None],
    "City" : ["Delhi","Mumbai","Bangalore","Chennai","Kolkata"],
}

df = pd.DataFrame(data)
print(df.head())

     Name   Age  Salary       City
0   Pawan  23.0  1000.0      Delhi
1   lalit  55.0  2000.0     Mumbai
2   Kapil   NaN     NaN  Bangalore
3    Ravi  45.0  4000.0    Chennai
4  Suresh   NaN     NaN    Kolkata

In [14]:
# fill all the null values in the dataframe 
print(df.isnull().sum())

Name      0
Age       2
Salary    2
City      0
dtype: int64

In [11]:
## drop the missing values columns and rows
# drop_df = df.dropna()
# print(drop_df)

# print(df)

In [15]:
## fill the missing values with mean
df["Age"] =df["Age"].fillna(df["Age"].mean())
df["Salary"] = df["Salary"].fillna(df["Salary"].mean())
print(df)

     Name   Age       Salary       City
0   Pawan  23.0  1000.000000      Delhi
1   lalit  55.0  2000.000000     Mumbai
2   Kapil  41.0  2333.333333  Bangalore
3    Ravi  45.0  4000.000000    Chennai
4  Suresh  41.0  2333.333333    Kolkata

In [ ]:
## encoding categorical data to numerical data 

from sklearn.preprocessing import LabelEncoder
import pandas as pd

data = {
    "Name" :  ["Aman","Ravi","Suresh","Pawan","Kapil","Arjun","Rohit","Meera","Pooja","Divya","Neha"],
    "Gender" : ["male","male","male","male","male","male","male","female","female","female","female"],
    "city" : ["Delhi","Mumbai","Bangalore","Chennai","Kolkata","Delhi","Mumbai","Bangalore","Chennai","Kolkata","Delhi"],
    "Passed": [True,False,True,False,True,True,False,True,False,True,False],
    "Age": [23,55,45,34,23,25,30, 28,22,26,29],
}

df = pd.DataFrame(data)
print(df)

      Name  Gender       city  Passed  Age
0     Aman    male      Delhi    True   23
1     Ravi    male     Mumbai   False   55
2   Suresh    male  Bangalore    True   45
3    Pawan    male    Chennai   False   34
4    Kapil    male    Kolkata    True   23
5    Arjun    male      Delhi    True   25
6    Rohit    male     Mumbai   False   30
7    Meera  female  Bangalore    True   28
8    Pooja  female    Chennai   False   22
9    Divya  female    Kolkata    True   26
10    Neha  female      Delhi   False   29

In [39]:
## using label encoding to convert categorical data into numerical data so that it can be used in machine learning models

df_label = df.copy()
le = LabelEncoder()
# df_label["Gender_encoded"] = le.fit_transform(df_label["Gender"])
# df_label["Passed_encoded"] = le.fit_transform(df_label["Passed"])
# df_label["city_encoded"] = le.fit_transform(df_label["city"])

# print("\n Label Encoded data : ")
# print(df_label[['Name','Gender','Gender_encoded','Passed','Passed_encoded','city','city_encoded']])

## using one-hot encoding to convert categorical data into numerical data so that it can be used in machine learning models
df_encoded = pd.get_dummies(df_label,columns=["city"])
print("\n One-Hot Encoded data : ")
print(df_encoded)

 One-Hot Encoded data :
      Name  Gender  Passed  Age  city_Bangalore  city_Chennai  city_Delhi  \
0     Aman    male    True   23           False         False        True
1     Ravi    male   False   55           False         False       False
2   Suresh    male    True   45            True         False       False
3    Pawan    male   False   34           False          True       False
4    Kapil    male    True   23           False         False       False
5    Arjun    male    True   25           False         False        True
6    Rohit    male   False   30           False         False       False
7    Meera  female    True   28            True         False       False
8    Pooja  female   False   22           False          True       False
9    Divya  female    True   26           False         False       False
10    Neha  female   False   29           False         False        True

    city_Kolkata  city_Mumbai
0          False        False
1          False         True
2          False        False
3          False        False
4           True        False
5          False        False
6          False         True
7          False        False
8          False        False
9           True        False
10         False        False

In [ ]:
## feature scaling using standard scaler
from sklearn.preprocessing import StandardScaler, MinMaxScaler
## split the data into training and testing sets
from sklearn.model_selection import train_test_split
import pandas as pd

data = {
    "Name" : ["Aman","Ravi","Suresh","Pawan","Kapil","Arjun","Rohit","Meera","Pooja","Divya","Neha"],
    "studyHours" : [5,10,15,20,25,30,35,40,45,50,55],
    "testScores" : [50,60,70,80,90,100,110,120,130,140,150]
}

df = pd.DataFrame(data)

scaler = StandardScaler()
X_scaled = scaler.fit_transform(df[["studyHours", "testScores"]])
# print("Standard Scaled data : ")
# print(pd.DataFrame(X_scaled, columns=["studyHours", "testScores"]))

minmax_scaler = MinMaxScaler()
x_scaler = minmax_scaler.fit_transform(df[["studyHours", "testScores"]])
# print("\nMin-Max Scaled data : ")
# print(pd.DataFrame(x_scaler, columns=["studyHours", "testScores"]))

x = df[['studyHours']]
y = df[['testScores']]

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)
print("\nTraining set:")
print(x_train)
print("\nTesting set:")
print(x_test)

Training set:
    studyHours
10          55
2           15
1           10
8           45
4           25
7           40
3           20
6           35     testScores
10         150
2           70
1           60
8          130
4           90
7          120
3           80
6          110

Testing set:
   studyHours
5          30
0           5
9          50    testScores
5         100
0          50
9         140